<div class="p-3" style="min-height: 80vh;">
<button (click)="backtohome($event)" class="btn btn-warning">Back Home</button>
<div class="d-flex justify-content-center p-2 flex-column align-items-center" >
  <h2>Add an Account</h2>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-light">
    
    <br>
    <div class="form-group">
      <label class="form-label">Name <i style="color: red;">*</i></label>
      <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched }"/>
      <small style="color: red;" *ngIf="employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched">Name Required  <i class="fa fa-warning"></i></small>
    </div>
    
    <br>
    <div class="form-group">
      <label class="form-label">Username <i style="color: red;">*</i></label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': employeeForm.controls['username'].invalid && employeeForm.controls['username'].touched }"/>
      <small style="color: red;" *ngIf="employeeForm.controls['username'].invalid && employeeForm.controls['username'].touched">Username Required  <i class="fa fa-warning"></i></small>
    </div>
    <br>
    
    <div class="form-group">
      <label class="form-label">Email <i style="color: red;">*</i></label>
      <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': employeeForm.controls['email'].invalid && employeeForm.controls['email'].touched }"/>
      <small style="color: red;" *ngIf="employeeForm.controls['email'].invalid && employeeForm.controls['email'].touched">Email Required  <i class="fa fa-warning"></i></small>

    </div>
    <br>

    <div class="form-group">
      <label class="form-label">Role <i style="color: red;">*</i></label>
      <select formControlName="role" class="form-select w-100 bg-light" [ngClass]="{ 'is-invalid': employeeForm.controls['role'].invalid && employeeForm.controls['role'].touched }">
        <option *ngFor="let option of roleOptions" [value]="option">{{ option }}</option>
      </select>
      <small style="color: red;" *ngIf="employeeForm.controls['role'].invalid && employeeForm.controls['role'].touched">Role Required  <i class="fa fa-warning"></i></small>

    </div>
    <br>


    <div class="form-group">
      <label class="form-label">Password <i style="color: red;">*</i> </label>

      <div class="d-flex">
      <input type="text" formControlName="password" class="form-control" [type]="showPassword == true ? 'text' : 'password'" [ngClass]="{ 'is-invalid': employeeForm.controls['password'].invalid && employeeForm.controls['password'].touched }"/> &nbsp;&nbsp;
      <button class="btn btn-outline-secondary" type="button" (click)="togglePassword()"> 
        <i class="bi" [ngClass]="{ 'bi-eye': !showPassword, 'bi-eye-slash': showPassword }"> </i> 
        </button> 
      </div>
      <small style="color: red;" *ngIf="employeeForm.controls['password'].invalid && employeeForm.controls['password'].touched">Password Required  <i class="fa fa-warning"></i></small>

    </div>
    
    <br>
    
    <div class="text-center">
    <button type="submit" [disabled]="!employeeForm.valid" [ngClass]="!employeeForm.valid ? 'btn btn-secondary' : 'btn btn-success'">Add Account</button>  <br> <br>
    <div style="color: red;"> {{message}}</div>
  </div>
  </form>

</div>

</div>