<div class="p-3" style="min-height: 80vh;">
<button (click)="backtohome($event)" class="btn btn-warning">Back Home</button>
<div class="d-flex justify-content-center p-2 flex-column align-items-center" >
  <h2>Add an Account</h2>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-light">
    
    <br>
    <div class="form-group">
      <label class="form-label">Name:</label>
      <input type="text" formControlName="name" class="form-control"/>
      <small style="color: red;" *ngIf="employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched">Name Required</small>
    </div>
    
    <br>
    <div class="form-group">
      <label class="form-label">Username:</label>
      <input type="text" formControlName="username" class="form-control"/>
      <small style="color: red;" *ngIf="employeeForm.controls['username'].invalid && employeeForm.controls['username'].touched">Username Required</small>
    </div>
    <br>
    
    <div class="form-group">
      <label class="form-label">Email:</label>
      <input type="email" formControlName="email" class="form-control"/>
      <small style="color: red;" *ngIf="employeeForm.controls['email'].invalid && employeeForm.controls['email'].touched">Email Required</small>

    </div>
    <br>

    <div class="form-group">
      <label class="form-label">Role:</label>
      <select formControlName="role" class="form-select w-100 bg-light">
        <option *ngFor="let option of roleOptions" [value]="option">{{ option }}</option>
      </select>
      <small style="color: red;" *ngIf="employeeForm.controls['role'].invalid && employeeForm.controls['role'].touched">Role Required</small>

    </div>
    <br>


    <div class="form-group">
      <label class="form-label">Password: </label>

      <div class="d-flex">
      <input type="text" formControlName="password" class="form-control" [type]="showPassword == true ? 'text' : 'password'"/> &nbsp;&nbsp;
      <button class="btn btn-outline-secondary" type="button" (click)="togglePassword()"> 
        <i class="bi" [ngClass]="{ 'bi-eye': !showPassword, 'bi-eye-slash': showPassword }"> </i> 
        </button> 
      </div>
      <small style="color: red;" *ngIf="employeeForm.controls['password'].invalid && employeeForm.controls['password'].touched">Password Required</small>

    </div>
    
    <br>
    
    <div class="text-center">
    <button type="submit" [disabled]="!employeeForm.valid" [ngClass]="!employeeForm.valid ? 'btn btn-secondary' : 'btn btn-success'">Add Account</button>  <br> <br>
    <div style="color: red;"> {{message}}</div>
  </div>
  </form>

</div>

</div>