
<div class="position-absolute" style="height: 100%; width: 100%; background-color: rgb(212, 158, 92); z-index: -1;" >     <img src="bg.jfif" style="height: 100%; width: 100%; " class="opacity-75">  </div>
        


<div class="container-fluid d-flex align-items-center justify-content-center h-100 w-100">
    <div class="w-25 h-75 d-flex align-items-center justify-content-center flex-column rounded diag">

        <img src="pizzeria_logo.png" class="logo">


        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="text-center text-white">

            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="*Enter email">
              <small style="color: red;" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">Email Required <i class="fa fa-warning"></i></small>

            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <div class="d-flex">
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="*Password" [type]="showPassword == true ? 'text' : 'password'"> &nbsp;
              <button class="btn btn-outline-secondary" type="button" (click)="togglePassword()"> 
                <i class="bi" [ngClass]="{ 'bi-eye': !showPassword, 'bi-eye-slash': showPassword }"> </i> 
                </button> 
              </div>
              <small style="color: red;" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">Password Required <i class="fa fa-warning"></i></small>

            </div>
            <button type="submit" class="btn btn-warning" [disabled]="!loginForm.valid">Login</button> <br> <br>
            <div style="color: red;" *ngIf="message">{{ message }} <i class="fa fa-warning"></i>
            </div>
            

            </form>

           

    </div>
</div>

    



    
    
