.logo {
    width: 350px;
    height: 350px;
}


input[type=text], input[type=password], input[type=email]{
height: 50px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: antiquewhite;
}

.diag {
    background-color: rgb(46, 33, 33);
    box-shadow: 2px 2px 20px 10px black;
}